IdentityFile ~/.ssh/id_rsa

ServerAliveInterval 15
ServerAliveCountMax 2

Host alderaan
  HostName 192.168.1.1
  User root

Host fulknark
  HostName fulknark.se
  Port 2222

Host hoth
  HostName 192.168.1.2
  Port 2222
