# Don't remember why i have this line but i assume i get annoying messages on
# some platform without it (most likely Ubuntu?).
IdentityFile ~/.ssh/id_rsa

# I use this so the connection will die by itself when my laptop goes to
# sleep. Otherwise i will have to kill ssh by hand when i return.
ServerAliveInterval 15
ServerAliveCountMax 2

Host fulknark
  HostName fulknark.se
  Port 443

Host hoth
  HostName 10.11.12.2
  Port 443

Host tatooine
  HostName 10.11.12.3
