# I use this so the connection will die by itself when my laptop goes to sleep.
# Otherwise I will have to kill the SSH client by hand when I return.
ServerAliveInterval 30
ServerAliveCountMax 2

Host alderaan1
  User ubnt
  HostName 192.168.1.1

Host alderaan2
  User ubnt
  HostName 192.168.1.254

Host hoth
  HostName 192.168.0.2
  Port 443

Host thesharksays.mooo.com
  HostName thesharksays.mooo.com
  Port 443
