/*
	Written by Göran Gustafsson <gustafsson.g@gmail.com>.
*/

body {
	background-color: #ffffff;
	color: #000000;
	font-family: "Helvetica Neu", Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

* {
	margin:0px;
	padding:0px;
}


