snippet #!
	#!/usr/bin/env lua

snippet for
	for $1 do
	  $2
	end

snippet function
	function $1($2)
	  $3
	end

snippet if
	if $1 then
	  $2
	end

snippet repeat
	repeat
	  $1
	until $2

snippet while
	while $1 do
	  $2
	end
