snippet #!
	#!/usr/bin/env zsh

snippet case
	case $1 in
	  $2)
	    $3
	  ;;
	  $4)
	    $5
	  ;;
	  *)
	    $6
	  ;;
	esac

snippet for
	for $1 in $2; do
	  $3
	done

snippet function
	function $1 {
	  $2
	}

snippet if
	if [[ $1 ]]; then
	  $2
	fi

snippet while
	while $1; done
	  $2
	done
