snippet css
	/*
		Written by Göran Gustafsson <gustafsson.g@gmail.com>.
	*/

	body {
		background-color: #ffffff;
		color: #000000;
		font-family: Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
		font-size: 14px;
	}

	a {
		color: #0057e0;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

	${1}

