snippet php Full template.
	<?php
		// Written by Göran Gustafsson <gustafsson.g@gmail.com>.

		${1}
	?>

snippet php Normal <?php ?> tags.
	<?php
		${1}
	?>

snippet php Small <?php ?> tags.
	<?php ${1} ?>
